.site-page-header {
}

.site-page-header .ant-page-header-heading-left {
    align-items: baseline;
}

.site-page-header .ant-page-header-heading-title {
    color: #fff;
}

.site-page-header .ant-page-header-heading-sub-title {
    color: #fff;
}
