.monitor-info {
  position: relative;
  height: 0;
  line-height: 45px;
  text-align: right;

  > span {
    vertical-align: middle;
  }

  .item {
    margin-left: 10px;
    margin-right: 0;
  }
}


.ant-table-row {
  &-level-1 {
    background-color: #f9f9f9;
  }
}
